<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= page.title %></title>

  <% files.css.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%- file %>">
  <% }); %>
</head>
<body>
  <div id="app">
    <%= content %>
  </div>

  <% files.js.forEach(function(file) { %>
    <script type="text/javascript" src="<%- file %>"></script>
  <% }); %>
</body>
</html>
